<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
   
    <title>Profile</title>
</head>
<body>
    <%- include('common','header') %>
    <h1>Welcome  <%= user.name %></h1>
    <h3>Email:<%=user.email %></h3>
    <h3>City: <%=user.city%></h3>
    <ul>
        <ul>
            <% user.skills.forEach((item)=>{%>
                <li><%=item %></li>
           <% })
            %>
        </ul>

    </ul>
</body>
</html>